project:
  type: website

execute:
  execute_before:
    - "import plotly.io as pio; pio.renderers.default = 'png'"
  echo: true
  warning: false
  error: false
  freeze: auto

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    keep-md: true
  commonmark: default

website:
  twitter-card: true
  open-graph: true
  repo-actions: [issue]
  navbar:
    background: primary
    search: true
  sidebar:
    style: floating

metadata-files: [nbdev.yml, sidebar.yml]
