name: CI

on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: scienziatiello
    container:
      image: python:3.12
      volumes:
        - /NASstorage/radned:/mnt/NASstorage
        - /share/CACHEDEV1_DATA/Data:/mnt/NAS2

    steps:
      - name: Install PostgreSQL client + netcat + OpenCV deps
        run: |
          apt-get update
          apt-get install -y postgresql-client netcat-openbsd libgl1 libglib2.0-0

      - uses: actions/checkout@v4

      - name: Install private fhemb dependency
        run: |
          pip install --no-cache-dir --force-reinstall \
            "fhemb @ git+https://${{ secrets.FHEMB_CI }}@github.com/rdned/fhemb#egg=fhemb"

      - name: Force nbdev version
        run: pip install "nbdev>=2.3"

      - name: Clean notebooks
        run: nbdev_clean

      - name: Export library
        run: nbdev_export

      - name: Start SSH tunnel
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.FHEMB_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh -o StrictHostKeyChecking=no \
          -i ~/.ssh/id_rsa \
          -N -L ${{ vars.FHEMB_CI_PORT }}:${{ vars.FHEMB_DB_HOST }}:${{ vars.FHEMB_DB_PORT }} \
          ${{ secrets.FHEMB_SSH_USER }}@${{ vars.FHEMB_SSH_HOST }} &

      - name: Create fhemb config
        run: |
          mkdir -p ~/.config/fhemb

          cat <<EOF > ~/.config/fhemb/.env.db
          DB_NAME=${{ vars.FHEMB_DB_NAME }}
          DB_USERNAME=${{ vars.FHEMB_DB_USER }}
          DB_PASSWORD=${{ secrets.FHEMB_DB_PASS }}
          DB_HOST=${{ vars.FHEMB_DB_HOST }}
          DB_PORT=${{ vars.FHEMB_DB_PORT }}

          REMOTE_HOST=${{ vars.FHEMB_SSH_HOST }}
          REMOTE_PORT=${{ vars.FHEMB_REMOTE_PORT }}
          SSH_USERNAME=${{ secrets.FHEMB_SSH_USER }}
          SSH_PKEY=/home/runner/.ssh/id_rsa
          REMOTE_BIND_HOST=${{ vars.FHEMB_DB_HOST }}
          REMOTE_BIND_PORT=${{ vars.FHEMB_DB_PORT }}
          EOF

          cat <<EOF > ~/.config/fhemb/.env.paths
          NODENAME=${{ vars.NODENAME }}
          LOCALROOT='/mnt/NASstorage'
          MOUNT='/mnt/NASstorage'
          AUDIOFILES='/mnt/NASstorage/thermal_data'
          EOF

          chmod 600 ~/.config/fhemb/.env.db
          chmod 600 ~/.config/fhemb/.env.paths


      - name: "Debug: whoami and dg tables"
        run: |
          DB="${{ vars.FHEMB_DB_NAME }}"
          USER="${{ vars.FHEMB_DB_USER }}"
          PASS="${{ secrets.FHEMB_DB_PASS }}"

          PGPASSWORD="$PASS" psql -h localhost -U "$USER" -d "$DB" -c "SELECT current_user, session_user;"
          PGPASSWORD="$PASS" psql -h localhost -U "$USER" -d "$DB" -c "\dn"
          PGPASSWORD="$PASS" psql -h localhost -U "$USER" -d "$DB" -c "\dt dg.*"

      - name: Test notebooks
        run: nbdev_test --flags ''

      - name: Check sync
        run: |
          if [[ -n "$(git status --porcelain -uno)" ]]; then
            echo "::error::Notebooks and library are not in sync."
            git status -uno
            exit 1
          fi
