name: CI

on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      GITHUB_PAT: ${{ secrets.FHEMB_CI }}

    steps:
      - uses: actions/checkout@v4

      - name: Checkout external dependency
        uses: actions/checkout@v4
        with:
          repository: rdned/fhemb
          path: dep
          token: ${{ secrets.FHEMB_CI }}

      - name: Build and install external dependency
        run: |
          python -m pip install build
          cd dep
          python -m build --wheel --outdir dist
          pip install dist/*.whl

      - uses: answerdotai/workflows/nbdev-ci@master
