name: CI
on:  [workflow_dispatch, pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Install external dependency (fhemb)
      - name: Install external dependency
        run: |
          git clone https://github.com/rdned/fhemb dep
          python -m pip install build
          cd dep
          python -m build --wheel --outdir dist
          pip install dist/*.whl

      # Run nbdev CI
      - uses: answerdotai/workflows/nbdev-ci@master