name: Test

on:
  push:
    branches: [ main, master ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

env:
  CI_UTILS_COMMIT: "f28361f5457dfe7e0fa8053205267431609d99d5"
  FHEMB_TAG: "v0.1.1"
  FHEMB_TOKEN: ${{ secrets.FHEMB_TOKEN }}
jobs:
  test:
    runs-on: scienziatiello

    steps:
      - name: Compute derived variables
        run: |
          echo "FHEMB_VERSION=${FHEMB_TAG#v}" >> $GITHUB_ENV
          echo "FHEMB_WHEEL=fhemb-${FHEMB_TAG#v}-py3-none-any.whl" >> $GITHUB_ENV

      - name: Run CI tests inside container
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          FHEMB_TOKEN: ${{ secrets.FHEMB_TOKEN }}
          FHEMB_CI_CLASSIC: ${{ secrets.FHEMB_CI_CLASSIC }}
          FHEMB_SSH_KEY:     ${{ secrets.FHEMB_SSH_KEY }}
          FHEMB_SSH_USER:    ${{ secrets.FHEMB_SSH_USER }}
          FHEMB_SSH_HOST:    ${{ vars.FHEMB_SSH_HOST }}

          FHEMB_ENV_DB: |
            DB_NAME=${{ vars.FHEMB_DB_NAME }}
            DB_USERNAME=${{ vars.FHEMB_DB_USER }}
            DB_PASSWORD=${{ secrets.FHEMB_DB_PASS }}
            DB_HOST=${{ vars.FHEMB_DB_HOST }}
            DB_PORT=${{ vars.FHEMB_DB_PORT }}
            REMOTE_HOST=${{ vars.FHEMB_SSH_HOST }}
            REMOTE_PORT=${{ vars.FHEMB_REMOTE_PORT }}
            SSH_USERNAME=${{ secrets.FHEMB_SSH_USER }}
            SSH_PKEY=/root/.ssh/id_rsa
            REMOTE_BIND_HOST=${{ vars.FHEMB_DB_HOST }}
            REMOTE_BIND_PORT=${{ vars.FHEMB_DB_PORT }}

          FHEMB_ENV_PATHS: |
            NODENAME=${{ vars.NODENAME }}
            LOCALROOT=${{ vars.FHEMB_LOCALROOT }}
            MOUNT=${{ vars.FHEMB_MOUNT }}
            AUDIOFILES=${{ vars.FHEMB_AUDIOFILES }}

          FHEMB_TAG:       ${{ env.FHEMB_TAG }}
          FHEMB_VERSION:   ${{ env.FHEMB_VERSION }}
          FHEMB_WHEEL:     ${{ env.FHEMB_WHEEL }}
          CI_UTILS_COMMIT: ${{ env.CI_UTILS_COMMIT }}

        run: |
          docker run --rm \
            --network host \
            -e HOME=/root \
            -e GITHUB_REPOSITORY \
            -e FHEMB_TOKEN \
            -e FHEMB_CI_CLASSIC \
            -e FHEMB_SSH_KEY \
            -e FHEMB_SSH_USER \
            -e FHEMB_SSH_HOST \
            -e FHEMB_ENV_DB \
            -e FHEMB_ENV_PATHS \
            -e FHEMB_TAG \
            -e FHEMB_VERSION \
            -e FHEMB_WHEEL \
            -e CI_UTILS_COMMIT \
            rdned/nbdev-fhemb:0.1.0-2.4.14-11 \
            /usr/local/bin/test.sh
