name: CI

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: scienziatiello

    container:
      image: rdned/nbdev-fhemb:2.4.14.D
      options: --entrypoint ""     # override build.sh
      volumes:
        - /NASstorage/radned:/mnt/NASstorage
        - /share/CACHEDEV1_DATA/Data:/mnt/NAS2

    steps:
      - uses: actions/checkout@v4

      - name: Run CI test script
        env:
          FHEMB_CI: ${{ secrets.FHEMB_CI }}
          FHEMB_SSH_KEY: ${{ secrets.FHEMB_SSH_KEY }}
          FHEMB_SSH_USER: ${{ secrets.FHEMB_SSH_USER }}
          FHEMB_SSH_HOST: ${{ vars.FHEMB_SSH_HOST }}

          FHEMB_DB_NAME: ${{ vars.FHEMB_DB_NAME }}
          FHEMB_DB_USER: ${{ vars.FHEMB_DB_USER }}
          FHEMB_DB_PASS: ${{ secrets.FHEMB_DB_PASS }}
          FHEMB_DB_HOST: ${{ vars.FHEMB_DB_HOST }}
          FHEMB_DB_PORT: ${{ vars.FHEMB_DB_PORT }}
          FHEMB_REMOTE_PORT: ${{ vars.FHEMB_REMOTE_PORT }}

          NODENAME: ${{ vars.NODENAME }}
          FHEMB_LOCALROOT: ${{ vars.FHEMB_LOCALROOT }}
          FHEMB_MOUNT: ${{ vars.FHEMB_MOUNT }}
          FHEMB_AUDIOFILES: ${{ vars.FHEMB_AUDIOFILES }}

        run: /usr/local/bin/test.sh

