name: CI

on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: scienziatiello
    container:
      image: python:3.12

    steps:
      - name: Install PostgreSQL client + netcat + OpenCV deps
        run: |
          apt-get update
          apt-get install -y postgresql-client netcat-openbsd libgl1 libglib2.0-0

      - uses: actions/checkout@v4

      - name: Install private fhemb dependency
        run: |
          pip install --no-cache-dir --force-reinstall \
            "fhemb @ git+https://${{ secrets.FHEMB_CI }}@github.com/rdned/fhemb#egg=fhemb"

      - name: Force nbdev version
        run: pip install "nbdev>=2.3"

      - name: Clean notebooks
        run: nbdev_clean

      - name: Export library
        run: nbdev_export

      - name: Export DB env vars
        run: |
          echo "FHEMB_DB_SSH=1" >> $GITHUB_ENV
          echo "FHEMB_DB_HOST=localhost" >> $GITHUB_ENV
          echo "FHEMB_DB_PORT=5432" >> $GITHUB_ENV
          echo "FHEMB_DB_USER=${{ secrets.FHEMB_DB_USER }}" >> $GITHUB_ENV
          echo "FHEMB_DB_PASS=${{ secrets.FHEMB_DB_PASS }}" >> $GITHUB_ENV
          echo "FHEMB_DB_NAME=${{ secrets.FHEMB_DB_NAME }}" >> $GITHUB_ENV

      - name: Start SSH tunnel
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.FHEMB_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh -o StrictHostKeyChecking=no \
              -i ~/.ssh/id_rsa \
              -N -L 5432:localhost:5432 \
              ${{ secrets.FHEMB_SSH_USER }}@${{ secrets.FHEMB_SSH_HOST }} &

      - name: Debug SSH secrets
        run: |
          echo "USER='${{ secrets.FHEMB_SSH_USER }}'"
          echo "HOST='${{ secrets.FHEMB_SSH_HOST }}'"

      - name: "Debug: whoami and dg tables"
        run: |
          PGPASSWORD=${{ secrets.FHEMB_DB_PASS }} \
          psql -h localhost -U $FHEMB_DB_USER -d $FHEMB_DB_NAME -c "SELECT current_user, session_user;"
          PGPASSWORD=${{ secrets.FHEMB_DB_PASS }} \
          psql -h localhost -U $FHEMB_DB_USER -d $FHEMB_DB_NAME -c "\dn"
          PGPASSWORD=${{ secrets.FHEMB_DB_PASS }} \
          psql -h localhost -U $FHEMB_DB_USER -d $FHEMB_DB_NAME -c "\dt dg.*"

      - name: "Debug: list tables"
        run: |
          PGPASSWORD=${{ secrets.FHEMB_DB_PASS }} \
          psql -h localhost -U $FHEMB_DB_USER -d $FHEMB_DB_NAME -c "\dt"

      - name: Test notebooks
        run: nbdev_test --flags ''

      - name: Check sync
        run: |
          if [[ -n "$(git status --porcelain -uno)" ]]; then
            echo "::error::Notebooks and library are not in sync."
            git status -uno
            exit 1
          fi
