name: CI

on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install private fhemb dependency
        run: |
          pip install "fhemb @ git+https://${{ secrets.FHEMB_CI }}@github.com/rdned/fhemb#egg=fhemb"

      - name: Force nbdev version
        run: pip install "nbdev>=2.3"

      - uses: answerdotai/workflows/nbdev-ci@master
