name: CI

on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python 
        uses: actions/setup-python@v5 
        with: 
          python-version: "3.10"

      - uses: actions/checkout@v4

      - name: Install private fhemb dependency
        run: |
          pip install "fhemb @ git+https://${{ secrets.FHEMB_CI }}@github.com/rdned/fhemb#egg=fhemb"

      - name: Force nbdev version
        run: pip install "nbdev>=2.3"

      - name: Clean notebooks
        run: nbdev_clean

      - name: Export library
        run: nbdev_export

      - name: Test notebooks
        run: nbdev_test --flags ''

      - name: Check sync
        run: |
          if [[ -n "$(git status --porcelain -uno)" ]]; then
            echo "::error::Notebooks and library are not in sync."
            git status -uno
            exit 1
          fi
